<!DOCTYPE html>
<html>
<head>
	<title>Student Details</title>
	<style>
		/* Style the button */
		.btn {
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 5px;
			padding: 10px 20px;
			text-decoration: none;
			transition: background-color 0.3s;
			margin-top: 10px; /* Add some space at the top */
			display: inline-block; /* Make it an inline block so it looks like a button */
		}

		.btn:hover {
			background-color: #0056b3;
		}
	</style>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">
		<h1 style="color: DodgerBlue">Student Details</h1>
		<body bgcolor="lightgrey">
			<form>
				<div>
					Student Name:<br> {{ student_data[0] }} <br><br>
					Student Email:<br> {{ student_data[1] }} <br><br>
					Student Programme:<br> {{ student_data[2] }} <br><br>
					Student Skills:<br> {{ student_data[3] }} <br><br>
					<a href="{{ url_for('download_resume', filename=student_data[4]) }}" class="btn btn-primary btn-md">Download Resume</a> <br><br>
					<a href="{{ url_for('studentdetails') }}" class="btn">Back to Previous Page</a> <br><br>
				</div>
			</form>
		</body>
	</font>
</center>
</html>
